/* your custom css */

.docs-platform__footer .btn {
  text-transform: none !important;
}

.container {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
}

.copy-block {
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.copy-block p {
  max-width: 582px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 736px) {
  .container {  
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    max-width: 420px;
    padding: 0 30px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}