.docs-platform { 
  margin: 2em 0; 
}
.docs-platforms { *zoom: 1; margin: 3em auto 0; }
.docs-platforms:before, .docs-platforms:after { content: " "; display: table; }
.docs-platforms:after { clear: both; }
.docs-platform:first-child { margin-top: 0; }
.docs-platform:last-child { margin-bottom: 0; }
.docs-platform__header, .docs-platform__footer { background-color: rgba(22, 156, 238, 0.03); background-repeat: no-repeat; border: 1px solid #E0E0EA; }
.docs-platform__header { position: relative; border-radius: 4px 4px 0 0; padding: 15px 50px 15px 16px; min-height: 69px; }
.docs-platform__header svg, .docs-platform__header img { display: block; position: absolute; top: 25%; right: 16px; }
.docs-platform__name, .docs-platform__version { display: block; }
.docs-platform__name { color: #66637A; font-size: 18px; margin-bottom: 0; }
.docs-platform__version { font-family: "webfont_din-regular"; font-size: 1.2rem; color: #66637A; opacity: 0.43; }
.docs-platform__links { margin: 0; padding: 0; }
.docs-platform__links li { list-style: none; }
.docs-platform__links li a { position: relative; display: block; text-decoration: none; padding: 13px 16px 11px; border-left: 1px solid #E0E0EA; border-right: 1px solid #E0E0EA; font-size: 14px; transition: background-color 150ms ease; }
.docs-platform__links li a:before { position: absolute; right: 16px; top: 50%; transform: translateY(-50%); content: ""; width: 0; height: 0; border-style: solid; border-width: 6px 0 6px 7px; border-color: transparent transparent transparent #E0E0EA; transition: all 150ms ease; }
.docs-platform__links li + li { border-top: 1px solid #E0E0EA; }
.docs-platform__footer { border-radius: 0 0 4px 4px; padding: 12px 16px 12px; min-height: 58px; }
.docs-platform__footer .btn { width: 100%; font-size: 14px; padding: 0 22px; height: 32px; line-height: 31px; text-align: center; }
.docs-platform img { width: 38px; height: auto; }
.docs-platform svg.icon-infinity { fill: #169CEE; width: 24px; height: 24px; }
.docs-platform svg.icon-ios { fill: #5B707D; width: 24px; height: 24px; }
.docs-platform svg.icon-android { fill: #00C26E; width: 22px; height: 26px; }
.docs-platform svg.icon-osx { fill: #9CAFBA; width: 24px; height: 24px; }
.docs-platform svg.icon-js { fill: #F5A623; width: 33px; height: 22px; }
.docs-platform svg.icon-dotnet { fill: #922ADD; width: 32px; height: 32px; }
.docs-platform svg.icon-php { fill: #0E69A1; width: 23px; height: 24px; }
.docs-platform svg.icon-unity { fill: #11A4BA; width: 23px; height: 24px; }
.docs-platform svg.icon-cloudcode { fill: #169CEE; width: 24px; height: 24px; }
.docs-platform svg.icon-iot, .docs-platform svg.icon-embedded_c, .docs-platform svg.icon-arduino { fill: #169CEE; width: 31px; height: 21px; }
.docs-platform svg.icon-rest { fill: #FF395E; width: 25px; height: 24px; }
.docs-platform svg.icon-server { fill: #6D7A82; width: 25px; height: 25px; }
html.no-touch .docs-platform__links a:hover { background-color: #FDFAFB; }
html.no-touch .docs-platform__links a:hover:before { border-left-color: #7C8C9C; }
html.no-touch .docs-platform .btn:hover { background-color: #169CEE; color: white; }
@media (min-width: 760px) { .docs-platform { float: left; width: 33.3333333333%; margin: 1.25em 0; padding: 0 19px; }
  .docs-platforms { margin: 2em -15px; }
  .docs-platform:first-child, .docs-platform:last-child { margin: 1.25em 0; } }
@media (min-width: 1104px) { .docs-platforms { margin: 2em auto; max-width: 840px; } }
.docs-platform header:not(.hasversion) .docs-platform__name { padding-top: 9px; }
.docs-platform span.spacer { position: relative; display: block; text-decoration: none; padding: 13px 16px 11px; border-left: 1px solid #E0E0EA; border-right: 1px solid #E0E0EA; font-size: 1.4rem; transition: background-color 150ms ease; height: 41px; }
